
default_language_version:
    python: python3
exclude: ^docs/(conf.py|_ext/)
default_stages: [pre-commit,pre-push]
fail_fast: false

ci:
    skip: [pylint]
    autoupdate_branch: develop
    autoupdate_schedule: monthly

repos:
-   repo: https://github.com/python-poetry/poetry
    rev: 2.3.2
    hooks:
    -   id: poetry-check
        args: [--lock, --no-plugins]
-   repo: https://github.com/hadialqattan/pycln
    rev: v2.6.0
    hooks:
    -   id: pycln
        args: [--config=pyproject.toml]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.14
    hooks:
    -   id: ruff-check
        args:
        -   --fix
        -   --exit-non-zero-on-fix
#        -   --unsafe-fixes
    -   id: ruff-format
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    -   id: mypy
        additional_dependencies: [
#            numpy==1.26.*,  # TODO: fix mypy errors related to numpy
            pydantic==2.5.*,
            tomli, # to read config from pyproject.toml
            types-toml,
            types-PyYAML,
        ]
        exclude: |
            (?x)(^
                geoh5py/interfaces/__init__.py|
                geoh5py/handlers/__init__.py|
                geoh5py/interfaces/.*|
                geoh5py/handlers/.*|
                tests/.*|
                geoh5py/shared/utils.py|
                geoh5py/shared/entity_type.py|
                geoh5py/data/data_type.py|
                geoh5py/objects/cell_object.py|
                geoh5py/shared/concatenation/drillhole.py|
                geoh5py/shared/concatenation/concatenator.py|
                geoh5py/workspace/workspace.py|
                geoh5py/ui_json/validation.py
            )$
-   repo: https://github.com/codingjoe/relint
    rev: 3.3.1
    hooks:
    -   id: relint
        args: [-W]  # to fail on warnings
-   repo: https://github.com/MiraGeoscience/pre-commit-hooks
    rev: v1.1.0
    hooks:
    -   id: check-copyright
        files: (^package\.rst|^LICENSE|^README(|-dev)\.rst|\.py|\.pyi)$
        exclude: (^\.|^docs/)
    -   id: prepare-commit-msg
    -   id: check-commit-msg
-   repo: local
    hooks:
    -   id: pylint
        name: pylint
        entry: poetry run pylint
        language: system
        require_serial: true  # pylint does its own parallelism
        types: [text]
        types_or: [python, pyi]
        exclude: ^(devtools|docs|geoh5py/interfaces|geoh5py/handlers)/
-   repo: https://github.com/codespell-project/codespell
    rev: v2.4.1
    hooks:
    -   id: codespell
        exclude: (\.lock|\.ipynb|^THIRD_PARTY_SOFTWARE\.rst)$
        entry: codespell -I .codespellignore
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    -   id: trailing-whitespace
    -   id: check-toml
        exclude: \.mdj$
    -   id: check-json
        exclude_types: [jupyter]
    -   id: check-yaml
    -   id: check-added-large-files
    -   id: check-case-conflict
    -   id: check-merge-conflict
    -   id: debug-statements
    -   id: detect-private-key
    -   id: end-of-file-fixer
        exclude: (^\.idea/.*\.xml|\.mdj)$
    -   id: mixed-line-ending
        exclude: ^\.idea/.*\.xml$
    -   id: name-tests-test
    -   id: pretty-format-json
        args:
            - --autofix
            - --indent=4
            - --no-sort-keys
            - --top-keys
            - version,title,icon,documentation,conda_environment,run_command,geoh5,monitoring_directory,workspace_geoh5
        exclude_types: [jupyter]
        exclude: ^docs/(.*/)?images/
-   repo: https://github.com/rstcheck/rstcheck
    rev: v6.2.5
    hooks:
    -   id: rstcheck
        exclude: ^THIRD_PARTY_SOFTWARE.rst$
        additional_dependencies: [sphinx]
-   repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
    -   id: rst-backticks
        exclude: ^THIRD_PARTY_SOFTWARE.rst$
