[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
thrift-pyi = "*"

[packages]
cython = "*"
thriftpy2 = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
