@import url("alabaster.css");

/* -- page layout ----------------------------------------------------------- */

body {
    font-family: Arial;
    font-size: 16px;
    background-color: #ffffff;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: justify;
}

div.document {
    width: 1000px;
    margin: 0 auto;
}

div.documentwrapper {
    padding: 0;
}

div.bodywrapper {
    padding: 0;
}

div.sphinxsidebar {
    width: 250px;
    font-size: 12px;
    line-height: 1.5;
    background: #fafafa;
    height: 100%;
    box-sizing: border-box;
}

hr {
    border: 1px solid #007082;
}

div.body {
    background-color: #ffffff;
    color: #000000;
    padding: 60px;
    flex: 1;
}

div.body > .section {
    text-align: left;
}

div.footer {
    width: 100%;
    font-size: 14px;
    background: #193d6a;
    color: #ffffff;
    text-align: center;
    padding: 40px;
    margin-top: auto;
    z-index: 1000;
}

div.footer a {
    color: #ffffff;
}

p.caption {
    font-family: inherit;
    font-size: inherit;
}

div.relations {
    display: none;
}

div.sphinxsidebar {
    max-height: 100%;
    overflow-y: auto;
    margin: 0;
}

div.sphinxsidebar a {
    color: #000000;
    text-decoration: none;
    border-bottom: 1.5px dotted #007082;
}

div.sphinxsidebar a:hover {
    border-bottom: 1px solid #999;
}

div.sphinxsidebarwrapper {
    padding: 20px 20px;
}

div.sphinxsidebarwrapper p.logo {
    padding: 20px 20px 20px 20px;
    margin-bottom: 20px;
    max-width: 200px;
    content-align: left;
    border-bottom: 1px solid #999;
}

div.sphinxsidebarwrapper h1.logo {
    margin-top: 0px;
    text-align: left;
    margin-bottom: 5px;
}

div.sphinxsidebarwrapper h1.logo-name {
    margin-top: 0px;
}

div.sphinxsidebarwrapper p.blurb {
    margin-bottom: 20px;
    font-style: normal;
    text-align: left;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

div.sphinxsidebar h3,
div.sphinxsidebar h4 {
    font-family: Arial, serif;
    color: #193d6a;
    font-size: 30px;
    font-weight: normal;
    margin: 40px 0 5px 0;
    padding: 0;
}

div.sphinxsidebar h4 {
    font-size: 22px;
}

div.sphinxsidebar h3 a {
    color: #193d6a;
}

div.sphinxsidebar p.logo a,
div.sphinxsidebar h3 a,
div.sphinxsidebar p.logo a:hover,
div.sphinxsidebar h3 a:hover {
    border: none;
}

div.sphinxsidebar p {
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 20px;
}

div.sphinxsidebar ul {
    margin: 10px 30px;
    padding: 0;
    color: #000;
}

div.sphinxsidebar ul li.toctree-l1 > a {
    font-size: 120%;
}

div.sphinxsidebar ul li.toctree-l2 > a {
    font-size: 110%;
}

div.sphinxsidebar input {
    border: 1px solid #CCC;
    font-family: Arial;
    font-size: 1em;
}

div.sphinxsidebar #searchbox input[type="text"] {
    width: 160px;
}

div.sphinxsidebar .search > div {
    display: table-cell;
    font-family: Arial;
}

div.sphinxsidebar hr {
    border: none;
    height: 1px;
    color: #AAA;
    background: #AAA;

    text-align: left;
    margin-left: 0;
    width: 50%;
}

div.sphinxsidebar .badge {
    border-bottom: none;
}

div.sphinxsidebar .badge:hover {
    border-bottom: none;
}


/* -- body styles ----------------------------------------------------------- */

a {
    color: #007082;
    text-decoration: underline;
}

a:hover {
    color: #cc1f46;
    text-decoration: underline;
}

div.body h1,
div.body h2,
div.body h3,
div.body h4,
div.body h5,
div.body h6 {
    font-family: Arial;
    font-weight: bold;
    color: #193d6a;
    margin: 40px 0px 10px 0px;
    padding: 0;
}

div.body h1 { margin-top: 0; padding-top: 0; font-size: 220%; }
div.body h2 { font-size: 180%; }
div.body h3 { font-size: 150%; }
div.body h4 { font-size: 130%; }
div.body h5 { font-size: 100%; }
div.body h6 { font-size: 100%; }

a.headerlink {
    color: #007082;
    padding: 0 4px;
    text-decoration: none;
}

a.headerlink:hover {
    color: #cc1f46;
    background: #ffffff;
}

div.body p, div.body dd, div.body li {
    line-height: 1.5em;
}

div.admonition {
    margin: 20px 0px;
    padding: 10px 30px;
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.admonition tt.xref, div.admonition code.xref, div.admonition a tt {
    background-color: #FBFBFB;
    border-bottom: 1px solid #fafafa;
}

div.admonition p.admonition-title {
    font-family: Arial;
    font-weight: normal;
    font-size: 24px;
    margin: 0 0 10px 0;
    padding: 0;
    line-height: 1;
}

div.admonition p.last {
    margin-bottom: 0;
}

div.highlight {
    background-color: #fff;
}

dt:target, .highlight {
    background: #FAF3E8;
}

div.warning {
    background-color: #cc1f46;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
}

div.danger {
    background-color: #cc1f46;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    -moz-box-shadow: 2px 2px 4px #D52C2C;
    -webkit-box-shadow: 2px 2px 4px #D52C2C;
    box-shadow: 2px 2px 4px #D52C2C;
}

div.error {
    background-color: #cc1f46;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
    -moz-box-shadow: 2px 2px 4px #D52C2C;
    -webkit-box-shadow: 2px 2px 4px #D52C2C;
    box-shadow: 2px 2px 4px #D52C2C;
}

div.caution {
    background-color: #cc1f46;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
}

div.attention {
    background-color: #cc1f46;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
}

div.important {
    background-color: #007082;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
}

div.note {
    background-color: #EEE;
    border: 1px solid #CCC;
    padding: 20px 20px 20px 20px;
}

div.tip {
    background-color: #193d6a;
    color: #ffffff;
    padding: 20px 20px 20px 20px;
}

div.hint {
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.seealso {
    background-color: #EEE;
    border: 1px solid #CCC;
}

div.topic {
    background-color: #EEE;
}

p.admonition-title {
    display: inline;
}

p.admonition-title:after {
    content: ":";
}

pre, tt, code {
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 0.9em;
}

.hll {
    background-color: #FFC;
    margin: 0 -12px;
    padding: 0 12px;
    display: block;
}

img.screenshot {
}

tt.descname, tt.descclassname, code.descname, code.descclassname {
    font-size: 0.95em;
}

tt.descname, code.descname {
    padding-right: 0.08em;
}

img.screenshot {
    -moz-box-shadow: 2px 2px 4px #EEE;
    -webkit-box-shadow: 2px 2px 4px #EEE;
    box-shadow: 2px 2px 4px #EEE;
}

table.docutils {
    border: 1px solid #888;
    -moz-box-shadow: 2px 2px 4px #EEE;
    -webkit-box-shadow: 2px 2px 4px #EEE;
    box-shadow: 2px 2px 4px #EEE;
}

table.docutils td, table.docutils th {
    border: 1px solid #888;
    padding: 0.25em 0.7em;
}

table.field-list, table.footnote {
    border: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.footnote {
    margin: 0;
    width: 100%;
    border: 1px solid #EEE;
    background: #FDFDFD;
    font-size: 0.9em;
}

table.footnote + table.footnote {
    margin-top: 0;
    border-top: none;
}

table.field-list th {
    padding: 0 0.8em 0 0;
}

table.field-list td {
    padding: 0;
}

table.field-list p {
    margin-bottom: 0.8em;
}

/* Cloned from
 * https://github.com/sphinx-doc/sphinx/commit/ef60dbfce09286b20b7385333d63a60321784e68
 */
.field-name {
    -moz-hyphens: manual;
    -ms-hyphens: manual;
    -webkit-hyphens: manual;
    hyphens: manual;
}

table.footnote td.label {
    width: .1px;
    padding: 0;
}

table.footnote td {
    padding: 0.3em 0.5em;
}

dl {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding: 0;
}

dl dd {
    margin-left: 30px;
}

blockquote {
    margin: 0 0 0 30px;
    padding: 0;
}

ul, ol {
    /* Matches the 30px from the narrow-screen "li > ul" selector below */
    margin: 10px 0 10px 30px;
    padding: 0;
}

pre {
    background: #EEE;
    padding: 7px 30px;
    margin: 15px 0px;
    line-height: 1.3em;
}

div.viewcode-block:target {
    background: #ffd;
}

dl pre, blockquote pre, li pre {
    margin-left: 0;
    padding-left: 30px;
}

tt, code {
    background-color: #ecf0f3;
    color: #222;
    /* padding: 1px 2px; */
}

tt.xref, code.xref, a tt {
    background-color: #FBFBFB;
    border-bottom: 1px solid #fff;
}

a.reference {
    text-decoration: none;
    border-bottom: 1px dotted #004B6B;
}

/* Don't put an underline on images */
a.image-reference, a.image-reference:hover {
    border-bottom: none;
}

a.reference:hover {
    border-bottom: 1px solid #6D4100;
}

a.footnote-reference {
    text-decoration: none;
    font-size: 0.7em;
    vertical-align: top;
    border-bottom: 1px dotted #004B6B;
}

a.footnote-reference:hover {
    border-bottom: 1px solid #6D4100;
}

a:hover tt, a:hover code {
    background: #EEE;
}


@media screen and (max-width: 870px) {

    div.sphinxsidebar {
       display: grid;
    }

    div.document {
       width: 100%;

    }

    div.documentwrapper {
    	margin-left: 0;
    	margin-top: 40px;
    	margin-right: 0;
    	margin-bottom: 40px;
    }

    div.bodywrapper {
    	margin-top: 40px;
    	margin-right: 0;
    	margin-bottom: 40px;
    	margin-left: 0;
    }

    ul {
    	margin-left: 0;
    }

	li > ul {
        /* Matches the 30px from the "ul, ol" selector above */
		margin-left: 30px;
	}

    .document {
    	width: auto;
    }

    .footer {
    	width: auto;
    }

    .bodywrapper {
    	margin: 0;
    }

    .footer {
    	width: auto;
    }

    .github {
        display: none;
    }



}



@media screen and (max-width: 875px) {

    body {
        height: 100%;
	margin: 0;
        padding: 30px 30px 30px 30px;
    }

    div.documentwrapper {
	flex-direction: column;
	height: 100%;
	width: 100%;
        background: #fff;
    }

    div.sphinxsidebar {
	height: auto;
        width: 100%;
        margin: 0;
        padding: 0px 10px 10px;
        background: #fafafa;
        color: #000000;
    }

    div.sphinxsidebar h3, div.sphinxsidebar h4, div.sphinxsidebar p,
    div.sphinxsidebar h3 a {
        color: #193d6a;
    }

    div.sphinxsidebar a {
        color: #000000;
    }

    div.sphinxsidebar p.logo {
        display: inherit;
    }

    div.document {
        width: 100%;
	height: 100%;
        margin: 0;
	flex: 1;
	overflow-y: auto;
    }

    div.footer {
        display: flex;
	text-align: center;
	width: 100%
	height: 100%;
        word-wrap: break-word;
        overflow-wrap: break-word;
        word-break: break-word;
    }

    div.bodywrapper {
        margin: 0;
    }

    div.body {
        min-height: 0;
        padding: 0;
    }

    .rtd_doc_footer {
        display: none;
    }

    .document {
        width: auto;
    }

    .footer {
        width: 100%;
    }

    .github {
        display: none;
    }
}


/* misc. */

.revsys-inline {
    display: none!important;
}

/* Hide ugly table cell borders in ..bibliography:: directive output */
table.docutils.citation, table.docutils.citation td, table.docutils.citation th {
  border: none;
  /* Below needed in some edge cases; if not applied, bottom shadows appear */
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}


/* relbar */

.related {
    line-height: 30px;
    width: 100%;
    font-size: 0.9rem;
}

.related.top {
    border-bottom: 1px solid #EEE;
    margin-bottom: 20px;
}

.related.bottom {
    border-top: 1px solid #EEE;
}

.related ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.related li {
    display: inline;
}

nav#rellinks {
    float: right;
}

nav#rellinks li+li:before {
    content: "|";
}

nav#breadcrumbs li+li:before {
    content: "\00BB";
}

/* Hide certain items when printing */
@media print {
    div.related {
        display: none;
    }
}
