name: Create JIRA issue

on:
  issues:
    types: [opened]

permissions: {}

jobs:
  call-workflow-create-jira-issue:
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-jira-issue_to_jira.yml@v2
    permissions:
      contents: read
      issues: write
    with:
      project-key: 'GEOPY'
      components: '[{"name": "geoh5py"}]'
    secrets:
      JIRA_BASE_URL: ${{ secrets.JIRA_BASE_URL }}
      JIRA_API_TOKEN: ${{ secrets.JIRA_API_TOKEN }}
      JIRA_USER_EMAIL: ${{ secrets.JIRA_USER_EMAIL }}
