name: Security Scan

on:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**
  push:
    branches:
      - develop
      - main
      - release/**
      - feature/**
      - hotfix/**

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions: {}

jobs:
  call-workflow-zizmor:
    name: Zizmor analysis
    permissions:
      contents: read
      actions: read
    uses: MiraGeoscience/CI-tools/.github/workflows/reusable-zizmor-security.yml@main
    with:
      advanced_security: true
